.BoxPadding {
  padding: 50px;
}

.skill-logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}

#profile {
  background-image: url("/src/images/profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
